/***********自動resize大圖至螢幕寬度***********/
img {
	max-width:100%;
}

.content {
	overflow: hidden;
}

.content, .content div {
	z-index: 1;
}

.ui-btn-active {
	background-color: #00abbd !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e4f2f1 /*{f-bdown-background-start}*/), to( #90d6ed /*{f-bdown-background-end}*/)) !important; /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e4f2f1 /*{f-bdown-background-start}*/, #90d6ed /*{f-bdown-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e4f2f1 /*{f-bdown-background-start}*/, #90d6ed /*{f-bdown-background-end}*/) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #e4f2f1 /*{f-bdown-background-start}*/, #90d6ed /*{f-bdown-background-end}*/) !important; /* IE10 */
	background-image:      -o-linear-gradient( #e4f2f1 /*{f-bdown-background-start}*/, #90d6ed /*{f-bdown-background-end}*/) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #e4f2f1 /*{f-bdown-background-start}*/, #90d6ed /*{f-bdown-background-end}*/) !important;
	border-bottom-color: #c8e9f0 !important;
	color: #019cb6 !important;
	text-shadow: none !important;
}

.home-slide {
	width: 100%;
	background-color: #000000;
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0;
	height: auto;
}

/***********頁面header的威寶logo***********/
.ui-header {
	padding: 0 !important;
	border-width: 0 !important;
	-moz-background-size:100% 40px;
	-webkit-background-size:100% 40px;
	-o-background-size:100% 40px;
	background-size:100% 40px;
}

.vibo-header-home, .vibo-header {
	width: 100%;
	-moz-background-size:100% 40px;
	-webkit-background-size:100% 40px;
	-o-background-size:100% 40px;
	background-size:100% 40px;
	background-color: #9E0CCC;
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0;
	height: auto;
}
.vibo-header-home {
	background-image: url(../images/tstarlogobar.png);
}
.vibo-header {
	background-image: url(../images/EmptyLogoBar.png);
}
/***********放在header背景圖上的空白區域***********/
.header-padding {
	margin:0;
	padding: 10px 0 0 100px;
	width:100%;
	height:30px;
}

/***********content***********/
/*
.ui-content {
    margin: 15px 15px 15px 15px;
    padding: 0;
}
*/

/***********頁面content的功能標題***********/
.PageTitle {
	width: 100%;
	background-color: #00abbd !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e4f2f1 /*{f-bdown-background-start}*/), to( #90d6ed /*{f-bdown-background-end}*/)) !important; /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e4f2f1 /*{f-bdown-background-start}*/, #90d6ed /*{f-bdown-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e4f2f1 /*{f-bdown-background-start}*/, #90d6ed /*{f-bdown-background-end}*/) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #e4f2f1 /*{f-bdown-background-start}*/, #90d6ed /*{f-bdown-background-end}*/) !important; /* IE10 */
	background-image:      -o-linear-gradient( #e4f2f1 /*{f-bdown-background-start}*/, #90d6ed /*{f-bdown-background-end}*/) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #e4f2f1 /*{f-bdown-background-start}*/, #90d6ed /*{f-bdown-background-end}*/) !important;
	border-bottom-color: #c8e9f0 !important;
	color: #019cb6 !important;
	text-shadow: none !important;
}

/***********首頁的content區，四周不要留白***********/
#home .ui-content, #myQueryStorePosition .ui-content, #myWifiQueryWifiHotSpot .ui-content, .FullContent {
	margin: 0 !important;
	padding: 0 !important;
}

.home-text {
	position:absolute;
	z-index:2;
	/*font-size: 24px;*/
}

/***********頁面footer的版權宣告***********/
.footer-copyright {
	height: 21px;
	color:#DDDDDD;
	background-color:#E70012;
	font-size:9pt;
	font-style:normal;
	font-weight:normal;
	text-shadow:none;
	text-align: center;
	padding-top: 7px;
}

h1, h2, h3 {
	text-align: center;
}

/***********首頁畫面下方的選單***********/
.HomeCarouselMenu {
	width:100%;
	z-index: 99 !important;
}
.HomeCarouselMenu a {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	text-decoration: none;
}
.HomeCarouselMenu div {
	background-repeat: no-repeat;
	background-size:100% 100%;
}
.HomeCarouselMenu span {
	font-size: 1px;
	color: #818285;
}

/***********將畫面上方的"回上頁"按鈕作成 iPhone 的樣式***********/
/* === BACK BUTTON === */
a[data-rel='back'], .ui-header a[data-rel='back'] {
	background: transparent url(../images/backButtonSprite.png) 0 0 no-repeat !important;
		-webkit-box-shadow: none !important; 
		-moz-box-shadow: none !important; 
		box-shadow: none !important;
			-webkit-border-radius: 0 !important;
			-moz-border-radius: 0 !important;
			border-radius: 0 !important;
	border: 0 none !important;
	height: 30px;
	top: 2px!important;
}

a[data-rel='back'] .ui-btn-inner {
	background: transparent url(../images/backButtonSprite.png) right 0 no-repeat !important;
	margin: 0 0 0 15px;
	padding: 0 8px 0 0 !important;
	border: 0px!important;
	height: 30px;
	line-height: 30px;
		-webkit-box-shadow: none !important; 
		-moz-box-shadow: none !important; 
		box-shadow: none !important;
}

a[data-rel='back'] .ui-icon {
	display: none;
}

/* === BLACK - BACK BUTTON === */
.ui-bar-b a[data-rel='back'] {
	background-position: 0 -30px !important;
}
.ui-bar-b a[data-rel='back'] .ui-btn-inner {
	background-position: right -30px !important;
}

/* === RETINA DEVICE FIXES === */
@media (-webkit-min-device-pixel-ratio : 1.5), (min-device-pixel-ratio : 1.5) {
	a[data-rel='back'], .ui-header a[data-rel='back'], a[data-rel="back"] .ui-btn-inner {
		background-image: url(../images/backButtonSprite@2x.png) !important;
		background-size: 500px 60px !important;
	}
}

/***********移除 contennt 區的邊線***********/
.ui-content, .MenuListview .ui-li, .MenuListview .ui-li-divider {
	border-left-width: 0px!important;
	border-right-width: 0px!important;
	border-top-width: 0px!important;
	border-bottom-width: 0px!important;
}

/***********設定每個功能選單頁中各個listview項目***********/
.MenuListview {
	margin-top: 0px!important;
}
.MenuListview .ui-li, .MenuListview .ui-li .ui-btn-inner, .MenuListview .ui-li .ui-btn-inner .ui-btn-text {
	height: 40px;
}
.MenuListview .ui-li {
	overflow: hidden;
}
.MenuListview .ui-li .ui-btn-inner .ui-btn-text .ui-link-inherit {
	height: 30px;
	padding-left: 60px!important;
	padding-top: 10px!important;
	padding-bottom: 0px!important;
	letter-spacing: 2px;
}
.MenuListview .ui-li .ui-btn-inner .ui-btn-text .ui-link-inherit .ui-li-thumb{
	height: 40px;
	width: 40px;
	padding: 0 0 0 5px;
}
.MenuListview .ui-li-divider {
	width: 100%;
	-moz-background-size:100% 5px;
	-webkit-background-size:100% 5px;
	-o-background-size:100% 5px;
	background-size:100% 5px;
	background-image: url(../images/divider.png);
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0;
	height: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

/***********各分頁畫面下方的選單***********/
.FooterNavbarItem, .FooterNavbarItem .ui-btn-inner, .FooterNavbarItem .ui-icon {
	width: 100%;
	height: 100%;
}

.FooterNavbarItem .ui-btn-inner {
	padding: 0px!important;
}

.FooterNavbarItem .ui-icon {
	margin: 0px!important;
	border-bottom-left-radius: 0px!important;
	border-bottom-right-radius: 0px!important;
	border-top-left-radius: 0px!important;
	border-top-right-radius: 0px!important;
}

#FooterNavbar11 .ui-icon {
	background: url(../images/nav1-1.png) 100% 100% no-repeat;
	background-size:100% 100%;
}
#FooterNavbar12 .ui-icon {
	background: url(../images/nav1-2.png) 100% 100% no-repeat;
	background-size:100% 100%;
}
#FooterNavbar13 .ui-icon {
	background: url(../images/nav1-3.png) 100% 100% no-repeat;
	background-size:100% 100%;
}

#FooterNavbar21 .ui-icon {
	background: url(../images/nav2-1.png) 100% 100% no-repeat;
	background-size:100% 100%;
}
#FooterNavbar22 .ui-icon {
	background: url(../images/nav2-2.png) 100% 100% no-repeat;
	background-size:100% 100%;
}
#FooterNavbar23 .ui-icon {
	background: url(../images/nav2-3.png) 100% 100% no-repeat;
	background-size:100% 100%;
}

#FooterNavbar31 .ui-icon {
	background: url(../images/nav3-1.png) 100% 100% no-repeat;
	background-size:100% 100%;
}
#FooterNavbar32 .ui-icon {
	background: url(../images/nav3-2.png) 100% 100% no-repeat;
	background-size:100% 100%;
}
#FooterNavbar33 .ui-icon {
	background: url(../images/nav3-3.png) 100% 100% no-repeat;
	background-size:100% 100%;
}

#FooterNavbar41 .ui-icon {
	background: url(../images/nav4-1.png) 100% 100% no-repeat;
	background-size:100% 100%;
}
#FooterNavbar42 .ui-icon {
	background: url(../images/nav4-2.png) 100% 100% no-repeat;
	background-size:100% 100%;
}
#FooterNavbar43 .ui-icon {
	background: url(../images/nav4-3.png) 100% 100% no-repeat;
	background-size:100% 100%;
}

#FooterNavbar51 .ui-icon {
	background: url(../images/nav5-1.png) 100% 100% no-repeat;
	background-size:100% 100%;
}
#FooterNavbar52 .ui-icon {
	background: url(../images/nav5-2.png) 100% 100% no-repeat;
	background-size:100% 100%;
}
#FooterNavbar53 .ui-icon {
	background: url(../images/nav5-3.png) 100% 100% no-repeat;
	background-size:100% 100%;
}

/******************畫面上方選單**************************/
.navbar-content-area .ui-btn .ui-btn-inner {
	padding-right:5px;
	padding-left:5px;
}

/***********不要顯示JQuery Mobile data-mode="columntoggle"中的欄位選擇按鈕***********/
.ui-table-columntoggle-btn {
	display: none !important;
}

/***********iscroll的wrapper***********/
.wrapper {
	position:absolute;
	z-index:1;
	top:40px; 
	left:0;
	/*width:90%;*/
	background:#aaa;
	overflow:auto;
}

/***********iscroll的scroller***********/
.scroller {
	position:absolute;
	z-index:1;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	/*width:90%;*/
	padding:0;
}

/***********固定在畫面下方的footer***********/
.fixedFooter {
	position: fixed !important;
	left: 0px !important;
	right: 0px !important;
	bottom: 0px !important;
	z-index: 99 !important;
}

/***********類似alert的dialog，請參考 http://dev.jtsage.com/jQM-SimpleDialog/demos2/***********/
.ui-simpledialog-container {
	z-index: 10001 !important;
}

.ui-simpledialog-screen-modal {
	z-index: 10000 !important;
}

.ui-simpledialog-container .msgbox-text, .ui-simpledialog-container .ui-simpledialog-subtitle {
	padding-left:5px;
	padding-right:5px;
	text-align: center;
}

.ui-simpledialog-container .msgbox-button, .ui-simpledialog-container .ui-simpledialog-controls {
	margin-left:5px;
	margin-right:5px;
}

.ui-simpledialog-container .ui-header {
	border-top-left-radius:0px !important;
	border-top-right-radius:0px !important;
	height:44px !important;
}

.ui-simpledialog-container .ui-title {
	margin:0 !important;
	padding-top:10px !important;
}

/***********讓 collapsible 中的 <h2> 或 <h3> 文字會換行，避免過長的字被截掉***********/
.ui-collapsible h3 .ui-btn-text, .ui-collapsible h2 .ui-btn-text {
	white-space:normal;
}
/***********讓 collapsible 中 table 裡過長的字自動換行***********/
.ui-collapsible table td {
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* css-3 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/***********讓 select 中已選項目裡過長的字自動換行***********/
.ui-select .ui-btn-text{
	white-space:normal;
}

/***********撥打客服電話的撥號 icon***********/
.ui-icon-phonecall {
	max-height: 30px!important;
	max-width: 30px!important;
	top: 6px!important;
	left: 6px!important;
}

.SmallInput .ui-input-text{
	display:inline!important;
	width:auto!important;
}